#splash{
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-size: cover;
    background-position: 50% 50%;
}

#header-text{
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Saira Extra Condensed', sans-serif;
    color: black;
}
#header-text #aname{
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    mix-blend-mode:screen;
}

#header-text h1{
    margin: 0;
    font-size: 2em;
    text-transform: uppercase;
    mix-blend-mode:darken;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}
#header-text h2{
    margin: 0;
    font-size: 19vw;
    line-height: 25%;
    text-transform: uppercase;
    letter-spacing: -5px ;
}
#header-text h3{
    margin: 0;
    color: rgba(255, 255, 255, 0);
    font-size: 9vw;
    text-transform: uppercase;
    letter-spacing: -7px ;
}

#splash video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#cover{
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#cover #socials{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    width: 100%;
    height: 75px;
}

#cover #socials img{
    margin: 0px 15px;
    width: 35px;
    height: 35px;
}